# OS
.DS_Store

# Dependencies
node_modules/

# Build output
dist/
build/
.next/

# React Router / Vite
apps/web/.react-router/
apps/web/build/

# Env
.env
.env.local
*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
apps/api/prisma/*.db

# Editor
.vscode/
.idea/

.claude/